/* =======================================================
   ESTILOS DO INDEX 
   ======================================================= */

@import url(style.css);

/* =======================================================
   HERO 
   ======================================================= */

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--primary);
    padding: 20px 16px;
    gap: 8px;
    border-radius: 8px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.logo-hero {
    width: 82px;
    height: 82px;
}

.button-hero {
    width: 200px;
}

.hero p {
    margin: 0 auto;
    line-height: 1.5;
}

/* =======================================================
   SERVIÇOS 
   ======================================================= */

.servicos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.cards-servicos {
    display: flex;
    gap: 8px;
    width: 100%;
    padding: 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.cards-servicos::-webkit-scrollbar {
    display: none;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
    padding: 24px 16px;
    border-radius: 16px;
    flex: 0 0 160px;
    scroll-snap-align: center;
    transition: transform 0.3s ease;
}

.card-img {
    width: 60px;
    height: 60px;
}

.card p {
    font-size: 14px;
    font-weight: var(--peso-negrito);
    max-width: 140px;
}

.card:hover {
    transform: scale(1.05);
}


/* =========================================
   TABLETS 
   ========================================= */

@media (min-width: 768px) {

    .hero {
        display: flex;
        flex-direction: column;
        padding: 40px;
    }

    .logo-hero {
        width: 180px;
    }

    .hero p {
        max-width: 500px;
    }
}

/* =========================================
   DESKTOP 
   ========================================= */
@media (min-width: 1024px) {

    .hero {
        display: flex;
        flex-direction: row;
        padding: 40px 60px;
        justify-content: center;
        gap: 10vh;
    }

    .logo-hero {
        width: 288px;
        height: 288px;
    }

    .hero-content {
        gap: 30px;
    }

    .hero p,
    .hero h1 {
        max-width: 700px;
    }

    .card {
        flex: 0 0 260px;
    }

    .cards-servicos {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;
    }

    .card p {
        font-size: 16px;
    }

    .card-img {
        width: 140px;
        height: 140px;
    }
}