/* =======================================================
   ESTILOS GERAIS E ELEMENTOS COMUNS A TODAS AS PÁGINAS 
   ======================================================= */


@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
    /* Variáveis de Cor */
    --primary: #FFBBC1;
    --secondary: #6DB5D8;
    --accents: #FF914D;
    --accents-blue: #78B0B2;
    --neutral-blue: #1B3A48;
    --neutral-white: #E6E6E6;
    --placeholder: #9F9F9F;

    /* Variáveis de Fonte */
    --fonte: "Quicksand", sans-serif;
    --peso-leve: 300;
    --peso-normal: 400;
    --peso-negrito: 700;
}

body {
    font-family: var(--fonte);
    font-weight: var(--peso-normal);
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    font-weight: var(--peso-negrito);
}

h1 {
    font-size: 32px;
}

.subtitulo {
    font-weight: var(--peso-leve);
}

main {
    margin: 20px 16px;
}

/* =========================================
    ESTILO DOS BOTÕES 
   ========================================= */

.button {
    font-weight: var(--peso-negrito);
    padding: 8px;
    border-radius: 8px;
    text-decoration: none;
    width: auto;
    transition: all 0.3 ease;
}

.button-default {
    color: var(--neutral-blue);
    background-color: var(--neutral-white);
}

.button-default:hover {
    background-color: var(--neutral-blue);
    color: var(--neutral-white);
}

.button-accents {
    background-color: var(--accents);
    color: var(--neutral-white);
}

.button-accents:hover {
    background-color: var(--neutral-white);
    color: var(--neutral-blue);
}

/* =========================================
   NAVBAR 
   ========================================= */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    padding: 10px 20px;
    position: relative;
}

.menu-checkbox,
#texto-logo {
    display: none;
}

.menu-icon {
    cursor: pointer;
    padding: 10px;
    position: relative;
    z-index: 10;
}

.logo {
    width: 45px;
    height: 45px;
}

.hamburguer-linha {
    display: block;
    width: 24px;
    height: 2px;
    background: var(--neutral-blue);
    position: relative;
}

.hamburguer-linha::before,
.hamburguer-linha::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: var(--neutral-blue);
}

.hamburguer-linha::before {
    top: -8px;
}

.hamburguer-linha::after {
    top: 8px;
}

/* Menu oculto que desce em coluna no mobile */
.menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    width: 50%;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 10;
}

/* Regras unificadas em um único seletor para os links */
.menu li a {
    display: block;
    padding: 15px 20px;
    margin-top: 6px;
    color: var(--neutral-blue);
    background-color: var(--neutral-white);
    text-decoration: none;
    font-weight: var(--peso-negrito);
}

.menu li:last-child a {
    border-radius: 0 0 8px 8px;
}

.menu-checkbox:checked~.menu {
    display: block;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #1b3a4899;
    z-index: 5;
}

.menu-checkbox:checked~.overlay {
    display: block;
}

/* =========================================
   TABLETS 
   ========================================= */

@media (min-width: 768px) {

    main {
        margin: 30px 40px;
    }

    h1 {
        font-size: 48px;
    }

    .menu-icon,
    .overlay,
    .menu-checkbox:checked~.overlay {
        display: none !important;
    }

    .navbar {
        gap: 16px;
    }

    .logo {
        width: 60px;
        height: 60px;
    }

    .logo-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 40px;
        gap: 10px;
    }

    #texto-logo {
        display: flex;
        font-weight: var(--peso-negrito);
        color: var(--neutral-blue);
    }

    .menu {
        display: flex;
        position: static;
        width: auto;
        background-color: transparent;
        margin-right: 40px;
        gap: 16px;
    }

    .menu li a {
        background-color: var(--primary);
        border: 1px solid var(--neutral-white);
        font-weight: var(--peso-normal);
        border-radius: 8px;
        transition: all 0.3s ease;
        margin: 0;
        padding: 8px 16px;
        text-align: center;
    }

    .menu li a:hover {
        border: 1px solid var(--neutral-blue);
        color: var(--neutral-white);
    }

    .menu li:last-child a {
        border-radius: 8px;
    }

    .menu-checkbox:checked~.menu,
    .menu-checkbox:not(:checked)~.menu {
        display: flex;
    }
}

/* =========================================
   DESKTOP 
   ========================================= */

@media (min-width: 1024px) {
    main {
        margin: 45px 120px;
    }

    .logo {
        width: 75px;
        height: 75px;
    }

    .logo-container {
        margin-left: 120px;
    }

    .menu {
        margin-right: 120px;
        gap: 25px;
    }

    .menu li a {
        padding: 10px 20px;
    }
}